https://download.pytorch.org/whl/cpu/torch-1.11.0+cpu-cp310-cp310-linux_x86_64.whl
torchvision==0.2.1
transformers==3.0.2
numpy==1.19.1
flask
joblib==0.16.0
sentencepiece==0.1.91
urllib3==1.25.10
